@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #000;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-500 {
	transition-duration: 500ms;
}
